
@model IEnumerable<M79Climbing.Models.Cap>

@{
    var name = ViewData["Name"] as string;

    ViewData["Title"] = name;
}

<h1>@name</h1>

<p>Total Caps: @ViewData["CapsCount"]</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Map)</th>
            <th>@Html.DisplayNameFor(model => model.First().Time)</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var time in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => time.Map)</td>
            <td>@Html.DisplayFor(modelItem => time.Time)</td>
        </tr>
    }
    </tbody>
</table>
