<!-- Name Details Index -->

@using M79Climbing.Helpers
@model IEnumerable<M79Climbing.Models.Cap>

@{
    var name = ViewData["Name"] as string;
    var playerStats = ViewData["PlayerStats"] as M79Climbing.Models.PlayerStats;

    ViewData["Title"] = name;
}

<h1>@name</h1>

<hr class="divider"/>

@if (playerStats != null)
{
    <div class="player-stats-container">
        <div class="row">
            <div class="col-md-4">
                <div class="player-stats-card">
                    <p>  &#x1F947; Golds: @ViewData["Top1Count"]</p>
                    <p>&#x1F948; Silvers: @ViewData["Top2Count"]</p>
                    <p>&#x1F949; Bronzes: @ViewData["Top3Count"]</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="player-stats-card">
                    <p>Total Caps: @ViewData["CapsCount"]</p>
                    <p>Visits: @playerStats.MapFinishes</p>  <!-- Sike, 2lazy-->
                    <p>Playtime: @playerStats.TimeSpentOnServer.ToString(@"hh\h\ mm\m\ ss\s")</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="player-stats-card">
                    <p>Respawns: @playerStats.Respawns</p>
                    <p>Grenades Thrown: @playerStats.GrenadesThrown</p>
                    <p>M79 Shots Fired: @playerStats.M79ShotsFired</p>
                </div>
            </div>
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Map)</th>
            <th>@Html.DisplayNameFor(model => model.First().Time)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cap in Model)
        {
            <tr>
                <td>
                    <a asp-controller="MapDetails" asp-action="Index" asp-route-name="@cap.Map">
                        @Html.DisplayFor(modelItem => cap.Map)
                    </a>
                </td>
                <td>
                    @TimeHelper.ReturnTime(cap.Time)
                </td>
            </tr>
        }
    </tbody>
</table>
