@model M79Climbing.Models.Cap

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Map)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Map)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
