@using M79Climbing.Helpers
@model IEnumerable<M79Climbing.Models.Cap>

@{
    ViewData["Title"] = "Index";
}

<div class="leaderboardHeader">
    🏆Leaderboard🏆
</div>

<div class="leaderboardDesc">
    <p>
        Click on a map name to view the best caps for that specific map and see how your perform against others.
        <br>
        Click on a player’s name to view only that player's caps on all maps, making it easy to track their progress and see how you compare.
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Map)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
               Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cap in Model) 
        {
            <tr>
                <td>
                    <a asp-controller="MapDetails" asp-action="Index" asp-route-map="@cap.Map">@Html.DisplayFor(modelItem => cap.Map)</a>
                </td>
                <td>
                    <a asp-controller="NameDetails" asp-action="Index" asp-route-name="@cap.Name">@Html.DisplayFor(modelItem => cap.Name)</a>
                </td>
                <td>
                    @TimeHelper.ReturnTime(cap.Time)
                </td>
                <td>
                    @cap.CapDate
                </td>
            </tr>
        }
    </tbody>
</table>
