
@model IEnumerable<M79Climbing.Models.Cap>

@{
    var map = ViewData["Map"] as string;

    ViewData["Title"] = @map;
}

<h1>@map</h1>

<p>Total Caps: @ViewData["CapsCount"]</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.First().Time)</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var time in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => time.Name)</td>
            <td>@Html.DisplayFor(modelItem => time.Time)</td>
        </tr>
    }
    </tbody>
</table>
